<div id="manage-holdings" fxLayout="row" fxLayoutAlign="center flex-start">
  <div fxLayout="column" fxFlexOffset="2">
    <h1>Add a Coin</h1>
    <mat-form-field>
      <mat-select (selectionChange)="clearInputField()" [(value)]="selected">
        <mat-form-field
          style="margin-top: 16px; margin-left: 8px"
          appearance="fill"
        >
          <input
            matInput
            type="text"
            [(ngModel)]="inputValue"
            (keyup)="filterSupportedCoins(inputValue)"
          />
          <mat-icon matSuffix>filter_list_alt</mat-icon>
        </mat-form-field>
        <mat-option *ngFor="let coin of supportedCoins" [value]="coin">
          {{ coin }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="selected" id="updateAmount">
      <p *ngIf="validInputMessage" class="valid-input-message">
        {{ validInputMessage }}
      </p>
      <mat-form-field>
        <mat-label></mat-label>
        <input
          placeholder="Amount Owned"
          matInput
          [(ngModel)]="amountEntered"
          required
        />
      </mat-form-field>
      <br />
      <button mat-raised-button type="submit" (click)="addOrUpdateCoin()">
        SUBMIT
      </button>
    </div>
  </div>
</div>
