#navbar {
  .brand {
    align-items: center;

    a {
      h3 {
        padding-left: 0.5rem;
        font-family: "ZCOOL KuaiLe", cursive;
        font-size: small;
      }
    }

    img {
      height: 30px;
      margin-left: 8px;
    }
  }

  #total {
    font-size: small;
    color: white;
  }

  .links {
    a {
      padding-left: 1rem;
      font-family: "Saira", sans-serif;
      font-size: 14px;
    }
  }

  mat-icon {
    cursor: pointer;
  }
}
