<mat-toolbar fxLayout="row" id="navbar">
  <div fxLayout="row" fxFlex="50" class="brand">
    <a routerLink="/"><h3>BITSTOCKERZ</h3></a>
    <img src="./assets/BITCOIN.gif" />
  </div>
  <div *ngIf="!isHoldingsView" id="total" fxHide.gt-sm="true">
    {{ portfolioTotal | async | currency }}
  </div>
  <div fxLayout="row" fxHide.lt-md="true" fxFlex="25" class="links">
    <a routerLink="/holdings">Holdings</a>
    <a routerLink="/trading-playground">Trading Playground</a>
  </div>
  <div fxFlex fxLayout="row-reverse">
    <app-navmenu></app-navmenu>
  </div>
</mat-toolbar>
