.container {
    height:100%;
    width:100%;
}

#market-overview {
    mat-form-field {
        margin-left: 2%;
    }

    mat-row {
        min-height: 36px !important;
    }

    .mat-input-element {
        margin-left: 12px;
    }

    h1 {
        text-align: center;
        margin-top: 24px;
        font-family: 'Saira', sans-serif;
        font-weight: bolder;
    }

    .market-table {
        width: 96%;
        margin-left: 2%;
    }

    tr.mat-row {
        height: 30px;
    }

    .mat-cell {
        font-size: 8px;
    }

    mat-paginator {
        width: 96%;
        margin-left: 2%;
        font-size: 8px;
    }

    img { 
        width: 24px; 
        height: 24px; 
    }

    .logo {
        display: flex;
        height: 30px;
        align-items: center;
        width: 50px;
        .number {
            width: 2rem;
        }
    }
}
