#crypto-holdings {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .crypto-table {
        width: 90vw;
        .mat-cell {
            font-size: 10px;
            text-align: left;
        }
    }

    .last-cell {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
