<div fxLayoutGap="24px" fxFlexFill id="landing-page" fxLayout="column">
    <div fxLayout="row">
        <app-market-movers fxFlex="100" fxFlex.lt-md="100" fxLayoutAlign="center center"></app-market-movers>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
        <app-market-overview fxFlexOffset="2" fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="center center"></app-market-overview>
        <app-crypto-news fxFlexOffset="2" fxLayout="column" fxFlex="50" fxFlex.lt-md="100" ></app-crypto-news>
    </div>
</div>
