// colors
$whitesmoke: whitesmoke;
$black-links: black;

// dark mode background colors
$mat-content-background: rgb(105, 96, 109);
$mat-toolbar-background: rgb(59, 50, 66);
$mat-accent-background: rgb(101, 89, 104);
$body-background: rgb(81, 70, 92);

// light mode background colors
$mat-toolbar-background-light: rgb(202, 202, 202);
$body-background-light: rgb(226, 226, 226);
$mat-content-background-light: rgb(240, 240, 240);
$mat-accent-background-light: whitesmoke;
